<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;/* Light background for a clean look */
            margin: 0;
            padding: 20px;
        }

    </style>
    <div class="header">
        <h1><a href="/posts">Qoura Posts</a></h1>
    </div>
    <div class="edit-container">
        <h2>Edit your Post</h2>
        <p>Post Id:<%=post.id%></p>
        <h1>UserName:@<%=post.username%></h1>
        <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
            <textarea name="content" rows="10" cols="35"><%=post.content%></textarea>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>