<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qoura Posts</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <h1><a href="/posts">Qoura Posts</a></h1>
        <a href="/posts/new" class="apost">Add post</a>
    </div>
  <div class="post-container">
    <% for (let post of posts) { %>
      <div class="post">
        <h3 class="user"> @<%= post.username %> </h3>
        <h4 class="content"> <%= post.content %> </h4>
        <a href="/posts/<%=post.id%>" class="see-detail">See in detail</a>
      </div>
    <% } %>
  </div>
</body>
</html>
