<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Qoura Posts</h1>
    <% for (let post of posts){ %>
        <div>
            <h3> @<%= post.username %></h3>
            <h4> @<%= post.content %></43>
        </div>
   <% } %>
</body>
</html>