<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">

        <h1>Qoura Posts</h1>
        <!-- <a href="/posts/new">Add post</a> -->
    </div>
    <form action="/posts" method="post">
        <div class="form-wrapper">
        <div class="form-container">
            <input placeholder="username" name="username" class="adduser" required>
            <textarea placeholder="content" name="content" class="addcontent" required></textarea>
            <button class="addpost">Add Post</button>
        </div></div>
    </form>
</body>

</html>