<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Post in detail</title>
    <link rel="stylesheet" href="/style.css">  
</head>
<body>
    <style>
        body{
            margin:20px;
            padding: 20px;
            gap:20px;
        }
        .post{
            /* padding:20px; */
            margin-top:20px;
            width: 40%;
        }
    </style>
    <h2>Here is post in detail.</h2>
    <p>Post id:<%=post.id %></p>
    <div class="post">
        <h3 class="user">@<%=post.username %> </h3>
        <h4 class="content"><%=post.content %></h4>

    </div>
</body>
</html>